@import "variables";

body {
    overflow-x:hidden;
}

* {
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1170px;
    }
}

.Header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    position: absolute;
    width: 100%;

    @include bp(m) {
        padding: 0 10px;
    }

    @include bp(l) {
        padding: 0 50px;
    }

    &__logo {
        max-width: 250px;
        margin-left: -60px;

        @include bp(m) {
            max-width: 300px;
            margin-left: -15px;
        }

        @include bp(l) {
            max-width: 300px;
            margin-left: -50px;
        }

        @include bp(md) {
            max-width: 300px;
            margin-left: -45px;
            margin-top: -30px;
        }
    }

    &__menu {
        display: none;

        @include bp(md) {
            display: flex;
            align-items: center;
            list-style: none;
        }

        &-item {
            margin-right: 25px;
            margin-top: 10px;
            height: 50px;
            transition: background-position-x 0.9s linear;
            text-align: center;

            &:hover {
                background: url("../img/wave.svg");
                animation: line 1s;

                .Header__menu-itemA {
                    color: $c-red;
                }
            }

            &A {
                @include Marck(20, 600, #000);
                text-decoration: none;
                transition: 0.45s;
            }
        }
    }
    @keyframes line {
        0% {
            background-position-x: 390px;
        }
    }

    .Hamburger {
        @include bp(md) {
            display: none;
        }
    }

    .menu {
        display: block;
        position: relative;
        top: 25px;
        right: 0;
        margin-top: -5px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;

        @include bp(m) {
            margin-top: 0;
        }

        &Hamburger {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;

            &:checked ~ .menuHamburgerLine {
                opacity: 1;
                transform: rotate(45deg) translate(-2px, -1px);
                background: #232323;
            }

            &:checked ~ .menuHamburgerLine:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }

            &:checked ~ .menuHamburgerLine:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, -1px);
            }

            &:checked ~ .menuWrap {
                transform: translate(-50%);
            }

        }

        &HamburgerLine {
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            position: relative;
            background: #000;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;

            @include bp(m) {
                margin-top: 0;
                width: 33px;
                height: 4px;
            }

            &:first-child {
                transform-origin: 0% 0%;
            }

            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }

        }

        &Wrap {
            position: absolute;
            width: 300px;
            margin: -100px 0 0 -50px;
            padding: 50px;
            padding-top: 125px;
            background: #ededed;
            box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
            list-style-type: none;
            transform-origin: 0% 0%;
            transform: translate(50%, 0);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

            &Item {
                @include Marck(22, 600, #000);
                padding: 10px 0;
                list-style: none;

                &A {
                    text-decoration: none;
                    color: #232323;

                    transition: color 0.3s ease;
                }

                &A:hover {
                    color: $c-red;
                }
            }
        }
    }
}

.Top {
    background-image: url("../img/bg-top.jpg");
    background-size: cover;
    padding: 85px 25px 65px 25px;
    background-position: center center;

    @include bp(m) {
        padding: 100px 25px;
        background-position: inherit;
    }

    @include bp(l) {
        padding: 130px 50px;
    }

    @include bp(md) {
        padding: 170px 50px 200px 50px;
    }

    @include bp(1500px) {
        background-position: right;
    }

    &__title {
        @include Comfortaa(35, 700, $c-red);
        text-shadow: 1px 1px 6px #493939;

        @include bp(m) {
            font-size: 60px;
        }

        @include bp(l) {
            font-size: 75px;
        }

        @include bp(md) {
            font-size: 100px;
        }
    }

    &__description {
        @include Marck(35, 400, $c-orange);
        text-shadow: 1px 0 4px rgba(95, 95, 95, 0.3);
        padding-top: 10px;
        padding-bottom: 60px;

        @include bp(m) {
            font-size: 60px;
            padding-top: 15px;
            padding-bottom: 50px;
        }

        @include bp(l) {
            font-size: 75px;
            padding-top: 20px;
            padding-bottom: 75px;
        }

        @include bp(md) {
            font-size: 100px;
            padding-top: 25px;
            padding-bottom: 100px;
        }
    }

    &__button {
        position: relative;
        display: block;
        overflow: hidden;
        @include Comfortaa(14, 600, $c-red);
        width: 100%;
        max-width: 150px;
        height: 40px;
        border: 2px solid $c-red;
        text-decoration: none;
        line-height: 40px;
        box-sizing: border-box;
        transition: 0.5s ease-in-out;
        text-align: center;
        border-radius: 5px;
        z-index: 0;

        &:before {
            right: -50px;
            border-right: 50px solid transparent;
            transform: translateX(-100%);
            transition: 0.5s ease-in-out;
        }

        &:after {
            left: -50px;
            border-left: 50px solid transparent;
            transform: translateX(100%);
            transition: 0.5s ease-in-out;
        }

        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-bottom: 80px solid $c-red;
            z-index: -1;
        }

        &:hover {
            color: white;
            text-decoration: none;

            &:before {
                transform: translateX(-40%);
            }

            &:after {
                transform: translateX(40%);
            }
        }

        &:before {
            right: -50px;
            border-right: 50px solid transparent;

            @include bp(360px) {
                right: -60px;
            }
        }

        &:after {
            left: -60px;
            border-left: 50px solid transparent;

            @include bp(m) {
                left: -50px;
            }
        }

        @include bp(m) {
            font-size: 16px;
            max-width: 200px;
            height: 60px;
            line-height: 60px;
        }

        @include bp(l) {
            font-size: 20px;
            max-width: 250px;
            height: 80px;
            line-height: 80px;
        }

        @include bp(md) {
            font-size: 25px;
        }
    }
}

.About {
    background-image: url("../img/bg-about.jpg");
    background-size: cover;
    padding: 70px 0;
    margin-top: 50px;
    text-align: center;

    @include bp(md) {
        padding: 80px 0 100px;
    }

    &__title {
        @extend %title;
        margin-bottom: 50px;

        @include bp(md) {
            position: relative;
            top: -54px;
            margin-bottom: 150px;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;

        @include bp(md) {
            display: block;
        }
    }

    &__block {
        max-width: 300px;
        margin: 0 auto 40px;

        @include bp(md) {
            position: absolute;
        }

        &-title {
            @include Marck(24, 600, $c-main-text);
            margin-bottom: 10px;
        }

        &-text {
            @include Comfortaa(15, 600, $c-text);
            line-height: 20px;
        }

        &.first {
            top: -60px;
        }

        &.second {
            top: 260px;
        }

        &.third {
            top: -15px;
            right: 0;
        }
    }

    &__image {
        display: none;

        @include bp(md) {
            display: block;
            position: relative;
            top: -50px;
            left: 50%;
            transform: translate(-50%);
            max-width: 415px;
        }
    }

    &__Arrow {
        display: none;
        max-width: 150px;
        position: relative;

        &.ArRed {
            top: -100px;
            left: 200px;
        }

        &.ArBlack {
            top: -715px;
            left: 210px;
        }

        &.ArYellow {
            top: -360px;
            left: 780px;
        }
    }
}

.Team {
    background: url(../img/bg-team.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

    &__title {
        @extend %title;
        margin-bottom: 100px;
        text-align: center;
    }

    &__person {
        &-photo {
            @include bp(360px) {
                max-width: 300px;
                margin: auto;
            }

            @include bp(l) {
                max-width: 400px;
                padding-bottom: 50px;
            }
        }

        &-name {
            @include Marck(25, 800, $c-red);
            padding-top: 15px;
            padding-bottom: 5px;
            position: relative;

            &:before {
                content: '';
                display: block;
                position: absolute;
                right: 50%;
                bottom: -5px;
                width: 25px;
                transform: translate(50%);
                border-bottom: 2px solid $c-red;
            }
        }

        &-position {
            @include Comfortaa(14, 400, $c-text);
            padding: 15px 0 15px;
            text-transform: lowercase;
        }
    }
}

.Statistics {
    background-color: rgba(255,255,255,1);
    background: url(../img/bg-mask.png), linear-gradient(to bottom, #ffffff 0%, #fedebb 47%, #fff 100%);
    padding-bottom: 100px;
    margin-top: 100px;

    &__title {
        @extend %title;
        margin-bottom: 100px;
        text-align: center;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: -20px;
        text-align: center;

        @include bp(m) {
            justify-content: space-between;
        }
    }

    &__block {
        width: 49%;

        @include bp(m) {
            width: 24%;
        }

        &-number {
            @include Marck(75, 800, $c-red);
            text-shadow: 0 0 9px #ffffff;

            @include bp(m) {
                font-size: 85px;
            }

            @include bp(l) {
                font-size: 100px;
            }
        }

        &-text {
            @include Comfortaa(15, 400, #515151);

            @include bp(m) {
                font-size: 17px;
                line-height: 23px;
            }
        }
    }
}

.Help {
    padding: 60px 0;

    &__title {
        @extend %title;
        text-align: center;
        margin-bottom: 100px;

        @include bp(l) {
            margin-bottom: 150px;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        @include bp(m) {
            justify-content: space-between;
        }
    }

    &__block {
        width: 49%;

        @include bp(m) {
            width: 24%;
        }

        &-img {
            width: 274px;

            &:hover {
                animation: 1.2s ease-in-out 0s normal none infinite running shake;
            }

            &.tiny {
                width: 220px;

                &:hover {
                    animation: 1.5s ease-in-out 0s normal none infinite running slow-shake;
                }
            }

            &.small {
                width: 225px;

                &:hover {
                    animation: 1.5s ease-in-out 0s normal none infinite running slow-shake;
                }
            }

            &.middle {
                width: 250px;

                &:hover {
                    animation: 1.7s ease-in-out 0s normal none infinite running big-shake;
                }
            }

            &.big {
                width: 290px;
            }
        }

        &-text {
            @include Comfortaa(15, 600, $c-main-text);


            &Hint {
                @include Comfortaa(13, 400, $c-label);
            }

            @include bp(m) {
                font-size: 18px;
            }

            @include bp(l) {
                line-height: 30px;
                margin-top: 10px;
            }
        }

        &.block-1 {
            margin-bottom: 60px;
        }

        &.block-2 {
            width: 49%;
        }
    }
}

.Sponsors {
    &__title {
        @extend %title;
        margin-bottom: 70px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @include bp(m) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include bp(l) {
            flex-wrap: nowrap;
        }

        &-image {
            max-width: 45%;
            margin-bottom: 40px;

            @include bp(l) {
                max-width: 200px;
                margin-bottom: 0;
            }
        }
    }
}

.Contacts {
    padding: 65px 0;

    @include bp(m) {
        padding: 100px 0 30px;
        background-image: url("../img/bg-contacts.jpg");
        background-size: cover;
    }

    &__title {
        @extend %title;
        margin-bottom: 65px;
        text-align: left;

        @include bp(m) {
            margin-bottom: 100px;
        }
    }

    &__form {
        max-width: 520px;
    }

    &__row {
        position: relative;

        &-input {
            padding: 15px 20px 15px;
            margin-bottom: 20px;
            border: 1px solid #e4e4e4;
            border-radius: 2px;
            width: 100%;
            @include Comfortaa(12, 400, $c-text);
            transition: .3s;

            &:focus {
                outline: none;
                border-color: $c-text;
            }

            &:focus + .Contacts__row-label {
                font-size: 12px;
                top: -8px;
            }

            &.active +.Contacts__row-label {
                font-size: 12px;
                top: -8px;
            }
        }

        &-label {
            position: absolute;
            left: 15px;
            top: 15px;
            transition: .3s;
            background: #fff;
            @include Comfortaa(12, 400, $c-label);

            @include bp(m) {
                font-size: 15px;
            }
        }

        &-message {
            width: 100%;
            height: 120px;
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid #e4e4e4;
            border-radius: 2px;
            resize: none;
            @include Comfortaa(12, 400, #000);
            transition: .3s;

            &:focus {
                outline: none;
                border-color: #000011;
            }

            &:focus + .Contacts__row-label {
                font-size: 12px;
                top: -8px;
            }

            &.active +.Contacts__row-label {
                font-size: 12px;
                top: -8px;
            }
        }

        &-button {
            position: relative;
            display: block;
            width: 100%;
            height: 45px;
            max-width: 200px;
            border: 1px solid $c-red;
            border-radius: 2px;
            transition: 0.5s ease-in-out;
            text-align: center;
            text-decoration: none;
            background: #fff;
            @include Comfortaa(14, 600, $c-red);
            z-index: 0;
            overflow: hidden;
            cursor: pointer;

            .button__aware {
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border-radius: 50%;
                background-color: $c-red;
                transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
                transform: translate(-50%, -50%);
                z-index: -1;
            }

            &:hover {
                color: #fff;
                text-decoration: none;

                .button__aware {
                    width: 225%;
                    height: 562.5px;
                }
            }

            @include bp(l) {
                font-size: 16px;
            }
        }
    }
}


@keyframes shake {
    0%, 50%, 100% {
        transform: rotate(0deg) scale(1);
    }
    10%, 30% {
        transform: rotate(-5deg) scale(1.05);
    }
    20%, 40% {
        transform: rotate(5deg) scale(0.95);
    }
}

@keyframes slow-shake {
    0%, 65%, 100% {
        transform: rotate(0deg) scale(1);
    }
    10%, 35% {
        transform: rotate(3deg) scale(0.97);
    }
    25%, 45% {
        transform: rotate(-8deg) scale(1.04);
    }
}

@keyframes big-shake {
    0%, 60%, 100% {
        transform: rotate(0deg) scale(1);
    }
    15%, 40% {
        transform: rotate(10deg) scale(0.9);
    }
    30%, 50% {
        transform: rotate(-8deg) scale(1.001);
    }
}